// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 18px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

	.headbar {
		background-color:#8d6452;
	}
	.mainarea {
		background-color:#ffe9e0;
	}
	.footer {
		background-color:#8d6452;
	}
	.loginTextField{
		border-bottom: solid;
		border-color: black;
		border-width: 1px;
	}
	.Button {
		background-color: #8d6452;
		color: white;
		text-decoration:none !important;
		margin-top:60px;
	}
	.bigButton {
		width:320px;
		height: 220px;
		text-decoration:none !important;
	}
	.buttonContainer {
		margin-top:90px;
	}
	
	.SFVButton {
		background-image: url("Cross.png") !important;
		background-position: center; 
		background-repeat: no-repeat;
		background-size: 100px;
		margin-right:80px;
		padding-top:2px;
	}
	
	.WVButton {
		background-image: url("shelf.png") !important;
		background-position: center; 
		background-repeat: no-repeat;
		background-size: 100px;
		margin-right:80px;
		padding-top:2px;
	}
	
	.v-button-wrap{
		vertical-align:top;
	}
	.formContainer {
		margin-left:15%;
		margin-right:15%;
	}
	.warning {
		font-size:1.4em;
	}
	
	.createSFVButton {
		background-color:#8d6452;
	}
}
